@import url('https://fonts.googleapis.com/earlyaccess/jejugothic.css');
@import url('https://fonts.googleapis.com/earlyaccess/jejuhallasan.css');
@import url('https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&display=swap');

.notoB{
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

.noto{
	font-family: 'Noto Sans KR', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}

.jeju{
	font-family: 'Jeju Gothic', sans-serif;
}
.hallasan{
	font-family: 'Jeju Hallasan', cursive;
}
.title{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 2em;
	color: black;
	font-weight: bold;
}
.title2{
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	background-color: #08A0E6;
	height: 80px;
	width: 75%;
	margin-left: 12%;
	text-align: center;
	line-height: 3.5em;
}
.sub_title{
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 2em;
	margin-bottom: 30px;
	font-weight: bold;
}
.myeng{
	font-family: 'Noto Sans', serif;
}

h3{
	text-align: center;
}
/*4.container-fluid의 padding좌우를 0으로 설정*/
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
/*9.네브바의 배경색 
변경*/
.navbar-default{
	background-color: #08A0E6 !important
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color:white;
	background-color: #0A92D1;
}
/*10.네브의 높이를 수정하기 위해 navbar안의 a태그의 height설정*/
.navbar-default .navbar-nav>li>a{
	height: 70px;
	line-height: 40px;
	font-size: 0.6em;
	text-transform: uppercase
}
/*12.네브바 안의 브랜드 로고이미지 위치 조절*/
.navbar-brand>img{
	position: relative;
	top:-4px;
	width: 90%;
}

/*15.네브바 하단의 공간을 없앰*/
.navbar{
	margin-bottom:0;
}
/*18.캐로셀 안의 텍스트 스타일변경*/
#top_carousel .carousel-caption{
	top:25%;
	left: 100px;
	width: 35%;
}
#top_carousel .carousel-caption h3{
	font-size: 2vw;
	text-transform: uppercase;
}
#top_carousel .carousel-caption p{
	font-size: 2vw;
	background-color: #08A0E6;
}
#top_carousel .carousel-caption mark{
	background-color: #08A0E6;
	color:white;
	line-height: 1.7em;
	text-shadow:none
}
/*19.캐로셀 좌우 화살표 아래의 그림자 빼기*/
.carousel-control.left, .carousel-control.right{
	background-image: none
}
/* 20.캐로셀 좌우 화살표 이미지 바꾸기 */
.glyphicon-chevron-left{
	background: url(../img/left.png) no-repeat;
	width: 30px;
	height: 70px !important;
	background-size: contain;
}
.glyphicon-chevron-right{
	background: url(../img/right.png) no-repeat;
	width: 30px;
	height: 70px !important;
	background-size: contain;
}
/*22.#icon_contents_01의 상단에 여백주기*/
div.container#icon_contents_01{
	margin-top:150px
}
#icon_contents_01 h2{
	margin-bottom: 100px;
}
/*23.#icon_contents_01안의 이미지 스타일*/
#icon_contents_01 span.glyphicon{
	background-color: #F8F3D1;
	display: block;
	width: 90px;
	height: 90px;
	font-size: 30px;
	color:#F7BF60;
	text-align: center;
	line-height: 90px;
	border-radius: 50%;
	position: relative;
	left:30%;
}
/*24.아이콘 대신에 이미지 넣기*/
#icon_contents_01 .img1{
	background: url(../img/almond.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img2{
	background: url(../img/nutriplus.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img3{
	background: url(../img/protein.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img4{
	background: url(../img/bluediamond.png);
	background-size: cover;
	background-color: white !important
}
/*26.두번째 컨텐츠 상단의 .bg1의 배경*/
.bg1{
	background: url(../img/bg1.jpg);
	padding:200px;
	background-size: cover;
	margin-top:150px;
	margin-bottom: 150px;
	color:white;
	text-align: right;
    background-attachment: fixed;
}
/*33.아코디언의 스타일*/
.panel-default>.panel-heading{
	background-color: #08A0E6;
	color:white;
}
.panel-body{
	background-color: #FFEFBF;
	color:black;
}
.panel-title a:hover{
	text-decoration: none
}
/*탭 타이틀*/
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: inherit;
}
/*34.아코디언 우측의 겹치는 이미지*/
/*.overlay2, .overlay3{
	margin-left: -50px;
}
.overlay1{
	margin-left: 50px;*/
}

/*제품의 호버 스타일*/


.pack{
	
}

.pack:hover{
	cursor: pointer;
	width: 18%;
	height: 18%;
	transform: rotate(10deg)



}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    font-weight: bold;
    background-color: #7AC3FF;
    border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #7AC3FF;
}

@media screen and (max-width: 767px) {
.overlay1, .overlay2, .overlay3{
	margin-left: 0
	}
}
/*35.세번째 컨텐츠 상단의 .bg2의 배경*/
.bg2{
	background: url(../img/bg2.jpg);
	padding:200px;
	background-size: cover;
	margin-top:150px;
	margin-bottom: 150px;
	color:white;
	text-align: left;
}
/*44.form contents의 배경*/
.bg3{
	background: url(../img/bg3.jpg);
	padding:200px;
	background-size: cover;
	margin-top:150px;
	margin-bottom: 150px;
	color:white;
	text-align: center;
	background-attachment: fixed;
}
/*45.마지막 하단의 배경*/
.bg4{
	background: url(../img/bg4.jpg);
	padding:200px;
	background-size: cover;
	margin-top:150px;
	color:white;
	text-align: center;
	background-attachment: fixed;
}
/*49.navbar를 fixed로 주면서 상단의 컨텐츠가 가려지는 부분 해결*/
body { padding-top: 70px; }
/*50.처음에는 안보이다가 waypoint플러그인이 동작하면 보이도록 숨겨놈*/
.hd{
	visibility: hidden;
}
.sh{
	visibility: visible;
}


p{
	color: black;
}

.bg_almond{
	background: url(../img/bg_almond.png);
	background-size: contain;
	width: 500px;
	height: 590px;
	margin-top:-150px;
	margin-bottom: 150px;
	margin-left: 500px;
	opacity: 50%;
}
	.bg_milk{
		background: url(../img/bg_milk.png);
		background-size: cover;
		width: 150px;
		height: 150px;
		margin-top:-80px;
		margin-bottom: -80px;
		margin-left: 300px;
	}






/*13.디바이스 사이즈가 다를 때 맞지 않는 스타일을 수정*/
@media screen and (max-width: 767px){
	.navbar-brand>img{
		width: 80%;
		top: -12px;
		left: 10px;
	}
	.glyphicon-chevron-left{
		background: url(../img/left.png) no-repeat;
		width: 10px;
		height: 70px !important;
		background-size: contain;
	}
	.glyphicon-chevron-right{
		background: url(../img/right.png) no-repeat;
		width: 10px;
		height: 70px !important;
		background-size: contain;
	}
	.carousel-indicators{
		bottom: -10px;
	}
	#top_carousel .carousel-caption{
		top:-10%;
		left: 50px;
		width: 50%;
	}
	#top_carousel .carousel-caption h3{
		font-size: 2vw;
		text-transform: uppercase;
	}
	#top_carousel .carousel-caption p{
		font-size: 2vw;
		background-color: #08A0E6;
	}
	#top_carousel .carousel-caption mark{
		background-color: #08A0E6;
		color:white;
		line-height: 1.7em;
		text-shadow:none
	}
#icon_contents_01 span.glyphicon{
	background-color: #F8F3D1;
	display: block;
	width: 190px;
	height: 190px;
	color:#F7BF60;
	text-align: center;
	line-height: 90px;
	border-radius: 50%;
	position: relative;
	left:10%;
}
#icon_contents_01 .img1{
	background: url(../img/almond_m.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img2{
	background: url(../img/nutriplus_m.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img3{
	background: url(../img/protein_m.png);
	background-size: cover;
	background-color: white !important
}
#icon_contents_01 .img4{
	background: url(../img/bluediamond_m.png);
	background-size: cover;
	background-color: white !important
}
.title2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	width: 300px;
	text-align: center;
	line-height: 4.5em;
	margin-left: -130px;
}
.bg_almond{
	background: url(../img/bg_almond.png);
	background-size: cover;
	width: 300px;
	height: 260px;
	margin-top:-100px;
	margin-bottom: 50px;
	margin-left: 50px;
	opacity: 30%;
}
.bg_milk{
	background: url(../img/bg_milk.png);
	background-size: cover;
	width: 150px;
	height: 150px;
	margin-top:-10px;
	margin-bottom: -80px;
	margin-left: 100px;
}
.sub_title{
	margin-top: 100px;
}
.sub_title2{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 65px;
}


.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #9fcfff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.center {
  position: relative;
  height: 100vh;
}
.center iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 100px;
}


} /*스마트폰*/


@media (min-width: 768px) and (max-width: 1024px) {

.title2 {
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    background-color: #08A0E6;
    height: 80px;
    width: 100%;
    margin-left: 2%;
    text-align: center;
    line-height: 3.5em;
}

.center {
  position: relative;
  height: 100vh;
}
.center iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 100px;
    width: 500px;
}

}/*@media (min-width: 768px) and (max-width: 1024px)*/